BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 91
PPIndentWidth: 2
IndentPPDirectives: BeforeHash
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Allman
LambdaBodyIndentation: OuterScope
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
PointerAlignment: Left
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
